<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
       <h2 class="title-center">{{subMenuDialogTitle}}</h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content layout-padding>
  <div>
  <mat-grid-list cols="2" rowHeight="60px" class="list-cell mat-elevation-z4" style="border-radius: 4px;margin-bottom: 5px;" *ngFor="let subMenuDialogItems of data">
     <mat-grid-tile><img class="avatar" style="margin-left: -80px;margin-bottom: 15px;" src="{{subMenuDialogItems.url}}"/></mat-grid-tile>
    <mat-grid-tile  style="margin-left: -100px;padding-right: 50px;" (click)="getValue(subMenuDialogItems.name)">
      
      <mat-selection-list  >
        <span><b>{{subMenuDialogItems.name}}</b></span>
        <!-- <mat-list-option (click)="getValue(subMenuDialogItems.name)">
           <span><b>{{subMenuDialogItems.name}}</b></span>
        </mat-list-option> -->
      </mat-selection-list>
    
    </mat-grid-tile>
      </mat-grid-list>
     </div>
    <!-- <mat-selection-list >
        <mat-list-option *ngFor="let subMenuDialogItems of data" (click)="getValue(subMenuDialogItems.name)">
          <div>
          <img class="avatar mat-elevation-z8" src="{{subMenuDialogItems.url}}"/>
          <span style="padding-bottom: 30px;"><b>{{subMenuDialogItems.name}}</b></span>
          </div>
        </mat-list-option>
      </mat-selection-list> -->
    </mat-dialog-content>
<!-- <mat-dialog-actions align="center">
    <button mat-raised-button mat-button>Search</button>
    <button mat-raised-button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->

