<div>
    <img class="jpg-icon"  src="../../../../assets/images/about_us.jpg" 
        style="max-width:100%; min-width: 100%; max-height: 200px;">
</div>
<div class="main-text">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deserunt excepturi magnam illum accusamus aliquid
        doloremque labore sunt dolore placeat voluptatem voluptate nobis accusantium atque repudiandae voluptas, vero
        dolor. Nobis eius aspernatur dolore fugiat ut aliquid delectus quas assumenda, praesentium sapiente vitae
        facilis cupiditate quod autem voluptatibus tenetur repudiandae! Illum fugiat quaerat voluptate iste qui maxime
        consequuntur sit voluptatum! Vero, illum! Quisquam itaque nemo sunt corporis obcaecati, quas voluptatem autem
        molestiae culpa sequi ratione nostrum nulla voluptates dicta, rerum, rem ad ipsum dolorum? Ducimus, laborum
        similique cupiditate inventore cum repudiandae pariatur dolore minus libero sed aspernatur saepe porro! Ipsum,
        totam.

    </p>
</div>
<span class="title-center"><b>
        <h2 style="text-align:center; color: white; background-color: #d60943;"><i>OUR PRODUCTS</i></h2>
    </b></span>
<mat-grid-list cols="2" rowHeight="2.5:1" style="margin-bottom: 20px;">
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" [src]="agricultureImagePath" />
    </mat-grid-tile>
    <mat-grid-tile  class="agricultureContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Agriculture</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="animalsContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Animals</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" [src]="animalsImagePath" />
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" [src]="furnitureImagePath" />
    </mat-grid-tile>
    <mat-grid-tile class="agricultureContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Furniture</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="animalsContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Electronics</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" [src]="electronicImagePath" />
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" [src]="vehiclesImagePath" />
    </mat-grid-tile>
    <mat-grid-tile class="agricultureContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Vehicles</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="animalsContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Sale & Rent</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" src="/assets/images/sale&rent/land_house.jpg" />
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8"  src="/assets/images/labourwork/labour_work.jpg" />
    </mat-grid-tile>
    <mat-grid-tile class="agricultureContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Labour Works</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="animalsContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Information</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" src="/assets/images/information/information.jpg" />
    </mat-grid-tile>
    <mat-grid-tile style="background-color: cadetblue;">
        <img class="avatar mat-elevation-z8" src="/assets/images/solution/solution.jpg" />
    </mat-grid-tile>
    <mat-grid-tile class="agricultureContent">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="title-center"><b>
                            <h2><b><i>Solutions</i></b></h2>
                        </b></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider style="margin-top: -20px; background-color: #d60943;"></mat-divider>
            <mat-card-content>
                <p>
                    With the idea of imparting programming
                    knowledge, Mr. Sandeep Jain, an IIT Roorkee
                    alumnus started a dream, GeeksforGeeks.
                    Whether programming excites you or you feel
                    stifled, wondering how to prepare for
                    interview questions or how to ace data
                    structures and algorithms, GeeksforGeeks
                    is a one-stop solution.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<span class="title-center"><b>
        <h2 style="text-align:center; color: white; background-color: #d60943;"><i>OUR TEAMS</i></h2>
    </b></span>
<mat-grid-list cols="4" rowHeight="1:1" style="background-color: cadetblue;">
    <mat-grid-tile class="ourteam" style="background-color: cadetblue;">
        <mat-card class="simple-card">
            <mat-card-header>
                <mat-card-title>NT RAMARAO</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="ourteam" style="background-color: cadetblue;">
        <mat-card class="simple-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="ourteam" style="background-color: cadetblue;">
        <mat-card class="simple-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="ourteam" style="background-color: cadetblue;">
        <mat-card class="simple-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>