.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background-color: #d60943;
    color: white;
}
.title-center{
    flex: 1 1 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}